/*@font-face {*/
/*  font-family: 'Roboto';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');*/
/*  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/

/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

h1 {
	color: #12ABFF;
	border-bottom: 3px solid green;
	padding: 60px 30px 60px 20px ;
	background-color: red;
	font-family: Arial, sans-serif;
	font-weight: extra-bold, bold, regular, light, thin;
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
}

p {
	font-size: 1.5em;
	font-family: "Roboto";
}

a {
	font-family: 'ArchivoNarrowRegular';
	font-weight: normal;
	font-style: normal; 
}

a:link{
	color: green;
}

a:hover{
	color:red;
}

a:visited{
	color:purple;
}

